@font-face {
    font-family: 'SmytheSans';
    src: url('../fonts/smythesans.eot');
    src: url('../fonts/smythesans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/smythesans.woff') format('woff'),
        url('../fonts/smythesans.ttf') format('truetype'),
        url('../fonts/smythesans.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
       /* background:rgba(0, 0, 0, 0) url("../images/musician.jpg") no-repeat fixed center center / cover ;*/
        color:#999999;
        font-family:"smythesans";
    }

.nopadding{ padding:0px !important;}
.padding_top_bottom{
        padding-bottom:20px;
        padding-top:20px;
    }
.text_white{ color:#FFF;}
.text_black{
        color:#000;
        line-height: 30px;
    }
.font_midle{ font-size:18px;}
h1 {
    font-size:25px;
    color:#000;
}
h2{ font-size:25px;}
h4{
    color:#000;
    float:left;
    }
span { color:#666666;}
.custom_btn {
    background-color: #666666;
    border-radius: 0;
    color: #fff;   
    margin: 5px 0;
    padding: 5px;
    transition: all 300ms ease 0s;
}
.custom_btn:hover {
    background:#000;
    color:#FFF;
    transition: all 300ms ease 0s;
}
.submit_btn{
        background:#009999;
    }
.cancel_btn{
        background:#CA0000;
    }

@media (max-width: 360px) {
        .spinner-master{
                width:10%;
            }
        .logo{
                width:75%;
            }
        .profile_wrapper{
                margin-top:60px !important;
            }
    }
.errorlist{
    padding:0;
    margin:5px 0 !important;
}
.errorlist li {
    background: #f00 none repeat scroll 0 0 !important;
    color: #fff;
    font-weight: bold;
    list-style-type: none;
    padding-left: 10px;
    width: 100% !important;
}

.user_bg{
    background-color: #FFF;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.user_bg img{
	position:fixed;
	z-index:-1;
}

.main_bg {
    position: fixed;
    right: 10px;
    top: 100px;
}
.modal-dialog {
    margin: 100px auto;
}

.artwork_input {
    float: left;
    margin-right: 5px;
    max-width: 30%;
}

.btn-file {
    float: left;
    margin-right: 5px;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/*----------Popup----------*/
.popup_title{
        background:#CCCCCC;
        color:#666666;
        margin:0;
        padding:20px;
    }
.popup_contant{
        padding:20px 50px;
    }
.profile_about .popup_contant span{
        padding-left:0;
    }
.modal{
        z-index:9999;
    }
.popup_contant_social i {
    font-size: 24px;
    padding: 5px;
}
.popup_contant_social input {
    margin: 5px 0;
    padding: 5px;
    width: 80%;
}
.popup_contant_delete {
    margin: 40px;
    min-height: 100px;
    text-align: left;
}

/*----------Popup----------*/


/*----------Profile----------*/
.profile .editable-click, a.editable-click{
        border-bottom:none;
        color:#000;
    }
.profile .editable-buttons{
        vertical-align: inherit;
    }
.profile .editable-buttons .btn-primary{
        background:#006200;
        padding: 5px;
    }
.profile .editable-buttons .btn-default{
        background:#A00;
        padding: 5px;
    }
.profile .editable-buttons span{
        color:#FFF;
    }



.profile_wrapper{
        /*background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
        padding:35px 0;
        margin-top:70px;
    }
.profile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0 35px;
    padding: 15px 0;
}
.profile_pic{
        max-width:390px;
    }
.edit_profile_pic {
    bottom: 40px;
    color: #FFF;
    font-size: 20px;
    position: absolute;
    right: 20px;
    transition: all 400ms ease 0s;
}
.edit_profile_pic:hover {
        color:#999;
    }

.profile_pic .edit_profile {
        color:#000;
        margin-right:25px;
        margin-top:-25px;
        opacity: 0.5;
        display:none;
    }
.profile_pic .edit_profile:hover {
        color:#000;
        margin-right:25px;
        margin-top:-25px;
        opacity: 0.99;
    }
.edit_profile {
    float: right;
    font-size: 16px;
    opacity: 0.2;
}
.edit_profile:hover { opacity: 1;}
.profile_about span { padding-left:20px;}
.profile_about span:first-child { padding-left:0px;}

/*----------Profile----------*/


/*----------Social icon----------*/
.social_icon ul {
    list-style-type:none;
    padding:0px;
    }
.social_icon ul li {
        float:left;
        padding-right:5px;
    }
.social_icon ul li a {
        font-size:24px;
        color:#666666;
    }
.social_icon ul li a:hover{
        color:#000;
    }
span i { padding-right:5px;}
.social_icon { padding-top:72px;}
@media (max-width: 991px) {
        .social_icon {
                padding-bottom:50px;
                padding-top:0px;
            }
    }
@media (max-width: 1199px) {
        .social_icon {
                padding-top:38px;
            }
    }
@media (max-width: 991px) {
	.social_icon{
		padding-top:0px;
	}
}
/*----------Social icon----------*/


/*----------Portfolio----------*/
.portfolio_wrapper{
       /* background:#FFF;*/
        padding:30px 0;
    }
.portfolio {
        background-color:#FFF;
        border-radius: 10px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0), 0 5px 50px 0 rgba(0, 0, 0, 0.2);
        padding-bottom:20px;
        padding-top:20px;
        margin:20px 0 35px;
    }
.portfolio img{ border-radius: 10px 10px 0 0;}
/*----------Portfolio----------*/


/*----------Video----------*/
.video_wrapper{
        /*background:url(../images/video_bg.jpg);*/
        width:100%
    }
.video_overlay{
       /* background:rgba(255, 255, 255, 0.50) none repeat scroll 0 0;*/
        padding:90px 0;
    }
.video_details{
        background:#FFF;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
        margin-top: -5px;
    }
/*----------Video----------*/


/*----------Comment----------*/
.date{ float:right;}
.comment textarea{
        float:left;
        height:100px;
        width:70%;
    }
.comment button{
        float:right;
        margin-top: 65px;
        width:25%;
    }
/*----------Comment----------*/


/*----------Footer----------*/
/*footer {
	background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 0%, hsla(35, 95%, 55%, 0) 70%);
}*/

footer {
        background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        color:#FFF;
        padding:50px 0;
    }
footer .container{ padding:15px;}
footer h3{
        border-bottom:3px solid #FFF;
        display:inline-block;
        line-height: 50px;
    }
.footer_top{
        border-bottom:2px dotted #999;
        padding:10px 0 50px;
    }
.featured .col-md-4{ padding:5px;}
.featured img{ width:100%}
.footer_bottom{
        padding:40px 0 0;
    }
.footer_tex{
        color:#FFF;
        font-size:16px;
    }
.footer_bottom .social_icon{
        float:right;
        padding:0px;
    }
.footer_bottom .social_icon a{
        color:#FFF;
    }
.footer_bottom .social_icon li:first-child{
        font-size: 16px;
        font-weight: bold;
        padding-top: 4px;
    }
/*----------Footer----------*/


/*----------Login Page----------*/
.login_wrapper{
        background:url(../images/video_bg.jpg);
        width:100%
    }
.login_overlay{
        background:rgba(255, 255, 255, 0.50) none repeat scroll 0 0;
        padding:90px 0;
    }
.nav_tabs_container {
    margin: 15px auto;
    max-width: 550px;
}
.nav_tabs_container ul{
        margin:0 20px;
    }
.nav_tabs_container ul li{
        background-color:#FFF;
        margin:0;
        width:50%;
    }
.nav_tabs_container ul .active{
        color:#066;
    }
.nav_tabs_container > .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        background:none;
        border:0 none;
        color:#000;
    }
.nav_tabs_container > .nav > li > a{
        border: 0 none;
    }
.nav_tabs_container > .nav > li > a:hover{
        background:none;
        border:0 none;
    }
.nav_tabs_container ul li a span{
        color:#999999;
        font-size:32px;
        font-weight:bold;
    }
.nav_tabs_container ul .active a span{
        border-bottom: 4px solid;
        color:#000;
        padding-bottom:12px;
    }
.login{
        background:#FFF;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
        margin: 0 20px;
        padding:20px 20px 40px;
    }
.login h3 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.login .custom_btn{ padding:5px 30px;}
.login form span a{ padding-left:10px;}
.login form a:hover{ text-decoration:none;}
.login form span{ color:#F00}

.login .form-control{
        border-radius:0;
    }
/*----------Login Page----------*/



/*----------Browse page----------*/
.browse_wrapper{
	/*background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
    padding:35px 0;
    margin-top:70px;
}

@media (max-width: 360px) {
	.browse_wrapper{
		margin-top:60px !important;
	}
}

.browse {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0 35px;
    padding:15px 30px 70px;
}
@media (max-width: 400px) {
	.browse{
		margin:-15px;
		padding:0 0 15px;
	}
	.browse .art_slider, .artist_slider{
		padding:0 15px !important;
	}
}

.browse_wrapper .nav-tabs{
	border:none;
}
.browse_wrapper .nav-tabs > li.active > a{
	background:#2098d1;
	color:#000;
	border:none;
	font-weight:bold;
}
.browse_wrapper .nav-tabs > li > a:hover{
	background:#2098d1;
	color:#000;
}
.browse_wrapper .nav-tabs > li > a{
	border-radius: 0;
	color:#66667A;
}

.art_slider .item{
	background:#666666;
}

.browse a{
	color:#000;
	text-decoration:none;
	transition: all 300ms ease 0s;
}
.browse a:hover{
	color:#FFF;
}
.browse .social_icon a:hover{
	color:#000;
	text-decoration:underline;
}

.browse .carousel-caption{
	position:static;
	text-align:justify;
	text-shadow:none;
}
.browse .carousel-control{
	width:30px;
}
.browse span{
	color:#FFF;
}
.browse h2{
	color:#999999;
}
.browse .col-md-12{
	padding:0 40px;
}
.browse .profile{
	margin: 20px 30px 35px;
}
.browse .social_icon{
	padding-top: 40px;
}
@media (max-width: 991px) {
	.browse .social_icon{
		padding-top:0px;
	}
}
.browse .carousel-indicators li{
	background-color:#FFF;
	border-radius:0;
	width:40px;
}
.browse .carousel-indicators .active{
	background-color:#CCC;
}
.artist_slider .item{
background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 0%, hsla(35, 95%, 55%, 0) 70%);
}
.artist_slider .carousel-indicators li{
	background-color:#FFF;
	border-radius:0;
	width:40px;
}
.artist_slider .carousel-indicators .active{
	background-color:#CCC;
}

.main_browes_contant{
	max-height:70px;
	max-width:400px;
}
.main_browes_contant_right{
	margin: 0 5px;
}

.browse_category{
	margin-top:20px;
}
.browse_category_laft_bar .col-md-12{
	margin:5px 0;
}
.browse_category_contant .col-md-6{
	margin:15px 0;
}
@media (max-width: 991px) {
	.browse_category_contant .col-md-6{
		max-width:350px;
	}
}
.browse_category_contant .row{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
	display:inline-flex;
	margin-left:-10px;
	margin-right:-10px;
}

.browse_category_contant h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}
.browse_category_contant .text-right{
	right:5px;
}
.browse_category_contant_bottom{
	margin-top:10px;
}

.browes_search {
    margin: 30px auto auto;
    max-width: 950px;
}
.search{
	max-width:870px;
}
.browes_search .search input{
	min-height:60px;
}
.browes_search .search button {
    min-height: 60px;
    padding: 0 30px;
    top: -5px;
}
/*----------Browse page----------*/

















